resources/graphics filter=lfs diff=lfs merge=lfs -text
resources/fonts/Ubuntu-Bold.ttf filter=lfs diff=lfs merge=lfs -text
resources/fonts/Ubuntu-Medium.ttf filter=lfs diff=lfs merge=lfs -text
resources/fonts/Ubuntu-Regular.ttf filter=lfs diff=lfs merge=lfs -text
resources/fonts/Ubuntu-Bold-70.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/Ubuntu-Medium-70.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/Ubuntu-Regular-70.png filter=lfs diff=lfs merge=lfs -text
resources/fonts filter=lfs diff=lfs merge=lfs -text
resources/drawables/launcher_icon.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/Ubuntu-Bold-60.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/Ubuntu-Bold-80.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/Ubuntu-Regular-30.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/swatch-time-at.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/swatch-time-dot-standard-time.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/swatch-time-dot.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/SwatchCapture[[:space:]]1.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/SwatchTimeHero[[:space:]]1.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/SwatchTimeHero[[:space:]]2.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/SwatchTimeHero[[:space:]]3.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/SwatchTimeHero.png filter=lfs diff=lfs merge=lfs -text
resources-round-280x280/fonts/Ubuntu-Bold-80.png filter=lfs diff=lfs merge=lfs -text
resources-round-360x360/fonts/Ubuntu-Bold-77.png filter=lfs diff=lfs merge=lfs -text
resources-round-390x390/fonts/Ubuntu-Bold-111.png filter=lfs diff=lfs merge=lfs -text
resources-round-240x240/fonts/Ubuntu-Bold-51.png filter=lfs diff=lfs merge=lfs -text
resources-round-454x454/fonts/Ubuntu-Bold-130.png filter=lfs diff=lfs merge=lfs -text
resources-round-390x390/fonts/Ubuntu-Regular-42.png filter=lfs diff=lfs merge=lfs -text
resources-round-240x240/fonts/Ubuntu-Regular-26.png filter=lfs diff=lfs merge=lfs -text
resources-round-280x280/fonts/Ubuntu-Bold-60.png filter=lfs diff=lfs merge=lfs -text
resources-round-454x454/fonts/Ubuntu-Bold-97.png filter=lfs diff=lfs merge=lfs -text
resources-round-218x218/fonts/Ubuntu-Bold-47.png filter=lfs diff=lfs merge=lfs -text
resources-round-260x260/fonts/Ubuntu-Regular-28.png filter=lfs diff=lfs merge=lfs -text
resources-round-416x416/fonts/Ubuntu-Regular-45.png filter=lfs diff=lfs merge=lfs -text
resources-round-454x454/fonts/Ubuntu-Regular-49.png filter=lfs diff=lfs merge=lfs -text
resources-round-218x218/fonts/Ubuntu-Regular-23.png filter=lfs diff=lfs merge=lfs -text
resources-round-260x260/fonts/Ubuntu-Bold-74.png filter=lfs diff=lfs merge=lfs -text
resources-round-360x360/fonts/Ubuntu-Regular-39.png filter=lfs diff=lfs merge=lfs -text
resources-round-416x416/fonts/Ubuntu-Bold-119.png filter=lfs diff=lfs merge=lfs -text
resources-round-260x260/fonts/Ubuntu-Bold-56.png filter=lfs diff=lfs merge=lfs -text
resources-round-280x280/fonts/Ubuntu-Regular-30.png filter=lfs diff=lfs merge=lfs -text
resources-round-218x218/fonts/Ubuntu-Bold-62.png filter=lfs diff=lfs merge=lfs -text
resources-round-360x360/fonts/Ubuntu-Bold-103.png filter=lfs diff=lfs merge=lfs -text
resources-round-390x390/fonts/Ubuntu-Bold-84.png filter=lfs diff=lfs merge=lfs -text
resources-round-416x416/fonts/Ubuntu-Bold-89.png filter=lfs diff=lfs merge=lfs -text
resources-round-240x240/fonts/Ubuntu-Bold-69.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-148x205/fonts/Ubuntu-Regular-32.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-320x360/fonts/Ubuntu-Bold-91.png filter=lfs diff=lfs merge=lfs -text
resources-round-240x240/fonts/Ubuntu-Regular-51.png filter=lfs diff=lfs merge=lfs -text
resources-semi-octagon-176x176/fonts/Ubuntu-Regular-19.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-320x360/fonts/Ubuntu-Regular-34.png filter=lfs diff=lfs merge=lfs -text
resources-round-454x454/fonts/Ubuntu-Regular-97.png filter=lfs diff=lfs merge=lfs -text
resources-semi-octagon-176x176/fonts/Ubuntu-Regular-38.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-320x360/fonts/Ubuntu-Regular-69.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-148x205/fonts/Ubuntu-Bold-42.png filter=lfs diff=lfs merge=lfs -text
resources-round-218x218/fonts/Ubuntu-Regular-47.png filter=lfs diff=lfs merge=lfs -text
resources-round-416x416/fonts/Ubuntu-Regular-89.png filter=lfs diff=lfs merge=lfs -text
resources-semi-round-215x180/fonts/Ubuntu-Regular-19.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-240x240/fonts/Ubuntu-Bold-51.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-320x360/fonts/Ubuntu-Bold-69.png filter=lfs diff=lfs merge=lfs -text
resources-semi-octagon-176x176/fonts/Ubuntu-Bold-50.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-240x240/fonts/Ubuntu-Regular-26.png filter=lfs diff=lfs merge=lfs -text
resources-round-280x280/fonts/Ubuntu-Regular-60.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-240x240/fonts/Ubuntu-Regular-51.png filter=lfs diff=lfs merge=lfs -text
resources-semi-round-215x180/fonts/Ubuntu-Regular-39.png filter=lfs diff=lfs merge=lfs -text
resources-round-260x260/fonts/Ubuntu-Regular-56.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-240x240/fonts/Ubuntu-Bold-69.png filter=lfs diff=lfs merge=lfs -text
resources-semi-octagon-176x176/fonts/Ubuntu-Bold-38.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/Ubuntu-Regular-60.png filter=lfs diff=lfs merge=lfs -text
resources-semi-round-215x180/fonts/Ubuntu-Bold-51.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-148x205/fonts/Ubuntu-Bold-32.png filter=lfs diff=lfs merge=lfs -text
resources-semi-round-215x180/fonts/Ubuntu-Bold-39.png filter=lfs diff=lfs merge=lfs -text
resources-round-360x360/fonts/Ubuntu-Regular-77.png filter=lfs diff=lfs merge=lfs -text
resources-round-390x390/fonts/Ubuntu-Regular-84.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-148x205/fonts/Ubuntu-Regular-16.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/SwatchTimeHero[[:space:]]4.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/SwatchTime2.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/SwatchTime1.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/SwatchTime3.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/SwatchTimeHero1.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/SwatchTimeHero2.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/SwatchTime4.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/SwatchTimeHero2-small.png filter=lfs diff=lfs merge=lfs -text
