<settings>

    <setting propertyKey="@Properties.ShowStandardTime" title="@Strings.ShowStandardTimeTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.ShowBeatseconds" title="@Strings.ShowBeatsecondsTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.ShowBeatsSymbol" title="@Strings.SymbolTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.SymbolOptionAt</listEntry>
            <listEntry value="1">@Strings.SymbolOptionDot</listEntry>
        </settingConfig>
    </setting>

</settings>